.movie-section {
  margin: 25px;
  background-color: #F4F2F2;
}

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.75);
}


.movie-poster {
  box-shadow: 5px 5px 5px black;
  height: 250px;
  margin-right: 30px;
}

.movie-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  overflow: scroll;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
}

.back-button {
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: hsla(328, 100%, 0%, 0.81) ;
  padding: 10px;
  align-self: center;
  border: 2px solid black;
  cursor: pointer;
  &:hover {
    background-color: green;
  }
}
