.movie-section {
  background-color: #F4F2F2;
}

.movie-info {
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  @media (max-width: 800px) {
    flex-direction: column !important;
  }
}


.movie-poster {
  box-shadow: 5px 5px 5px black;
  height: 400px;
  margin: 0px 30px 0px 30px;
}

.movie-text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px 50px 0px 50px;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  @media (max-width: 800px) {
    flex-direction: column !important;
  }
}

.back-button {
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: hsla(328, 100%, 0%, 0.81) ;
  padding: 10px;
  align-self: center;
  border: 2px solid black;
  cursor: pointer;
  &:hover {
    background-color: green;
  }
}
