.header {
  text-align: center;
  height: 50vh;
  margin-bottom: 20px;
  background-size: cover !important;
  width: 100vw;
  background-repeat: no-repeat !important;
}

h1 {
  color: rgb(255, 255, 255);
  line-height: 1.3em;
  letter-spacing: 5px;
  font-size: 5em;
  text-shadow: -6px 6px black;
  &:hover {
    color: green;
    cursor: pointer;
  }
}
