$dark-blue: hsl(186, 59%, 11%);

main {
  margin: 0;
  background-color: #F4F2F2;
}

button {
  background: none;
  outline: none;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: -35px;
}
